*{
    margin: 0px;
    padding: 0px;
}
div{
    border:solid 2px black;
    /* div添加黑色边框 */
}
#head{
    height: 100px;
}
#head ul{
    list-style-type: none;
}
#head ul li{
    width: 70px;
    float: left;
}
